
/*Code below formats the navbar to prevent the text from starting in the navbar*/
body {
  padding-top: 50px;
}






.carousel-inner > .item > img {
  width:1920px;
  height:320px;
}



h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin', sans-serif;
}